body {
    font-family: 'IM Fell English', serif; /* Utilizza il font IM Fell English per tutto il documento */
    background: linear-gradient(to right, #E80000, #360000); /* Sfondo graduale */
    color: #fff; /* Colore del testo */
}

table, th, td {
    border: 1px solid #ddd;
    padding: 12px; /* Spaziatura interna maggiore */
    text-align: left;
}