body {
    font-family: 'IM Fell English', serif; /* Utilizza il font IM Fell English per tutto il documento */
    background: linear-gradient(to right, #E80000, #360000); /* Sfondo graduale */
    color: #fff; /* Colore del testo */
}

table, th, td {
    border: 1px solid #ddd;
    padding: 12px; /* Spaziatura interna maggiore */
    text-align: left;
}

button {
    display: block;
    margin-left: 0;
    padding: 10px 20px; /* Maggior spaziatura all'interno del pulsante */
    font-size: 18px; /* Dimensione del testo del pulsante */
    font-family: 'IM Fell English', serif; /* Utilizza il font IM Fell English per i pulsanti */
    background-color: #FFA500; /* Colore di sfondo del pulsante */
    color: black; /* Colore del testo del pulsante */
    border: none;
    border-radius: 5px; /* Bordi arrotondati */
    cursor: pointer;
    transition: background-color 0.3s; /* Effetto di transizione del colore di sfondo */
}