body {
    font-family: "IM Fell English";
    font-size: 21px;
    background-image: url('../Images/contact_us.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: white;
}

p {
    text-align: center;
    color: white;
}

.form {
    max-width: 30%;
    min-width: 30%;
    margin: 0 auto;
    padding: 10px;
    background-color: rgba(29, 25, 15, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    font-family: "IM Fell English";
    background-color: rgb(243,217,46);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: 2px solid #e78e12;
    border-radius: 8px;
    color: black;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: auto;
    font-size: large;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #e78e12;
    color: white;
}